{{!-- TODO stying and spacing via CSS --}}
{{!-- Make buttons into clickable links!  --}}
<header class="bigHeader">
    <h1>JumpIt NYC</h1>
</header>

<h2>GAME OVER!</h2>

{{!-- work in progress --}}
<h3>Your Score: {{lastScore}}</h3>

<button onclick="renderScores()" type="button">LEADERBOARD</button>
{{!-- replace these break elements, use CSS for spacing on the page --}}
<br>
<br>
<button onclick="restartGame()" type="button" id="play-again">PLAY AGAIN</button>

<script src="/js/gameover.js"></script>