{{!-- Make buttons into clickable links!  --}}
<header class="bigHeader">
    <h1>JumpIt NYC</h1>
</header>

<h2>GAME OVER!</h2>

<h3>Your Score: {{lastScore}}</h3>

<button onclick="renderScore()" type="button" class="btn" id="leaderboard">LEADERBOARD</button>
<br>
<br>
<button onclick="restartGame()" type="button" class="btn" id="play-again">PLAY AGAIN</button>

<script src="/js/gameover.js"></script>