{{!-- TODO stying and spacing via CSS --}}
{{!-- Make buttons into clickable links!  --}}
<h2>GAME OVER!</h2>

<button type="button">LEADERBOARD</button>
{{!-- replace these break elements, use CSS for spacing on the page --}}
<br>
<br>
<button type="button">PLAY AGAIN</button>
