<header class="bigHeader">
    <h1>JumpIt NYC</h1>
</header>

<div class="card instrCard">
  <img src="../assets/images/keyboard.png" id="keyboard"/>
  <p class="instructions">Use 'Left', 'Right', and 'Up' arrow keys to move your character</p>
  <p class="instructions">'Swipe Up' only for mobile users</p>
  <img src="../assets/images/Pizza.png" id="pizzaIcon"/>
  <p class="instructions">Eat a pizza to get double points for 8 seconds</p>
  <img src="../assets/images/Walk3.png" id="rats"/>
  <p class="instructions" id="ratty">Avoid the rats at all costs!</p>
</div>
<div class="gameOptions">
  <button class="btn" id="leaderboard">Leaderboard</button>
  <button class="btn" id="startGame">Start Game</button>
  <button class="btn" id="logout">Log Out</button>
</div>
<script src="/js/homepage.js"></script>