<div class="card instructions">
  <p>Use 'Left', 'Right', and 'Up' arrow keys</p>
</div>
  <button type="button" id="startGame">Start Game</button>
  <button type="button" id="leaderboard">Leaderboard</button>
  <button type="button" id="logout">Log Out</button>

<script src="/js/homepage.js"></script>