{{!-- TODO: Center align text, style board and font, size of table --}}
{{!-- TODO: Add variables from the api route to get results from the scores table --}}
<header class="bigHeader">
    <h1>JumpIt NYC</h1>
</header>

<table id="scoreList">
    <tr>
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    {{#each scores as |score|}}
    <tr>
        <td>{{user.player_name}}</td>
        <td>{{score.score}}</td>
    </tr>
    {{/each}}
</table>

<button type="button" class="btn" id="returnHome">Return to Homepage</button>

<script src="/js/gameover.js"></script>