{{!-- loaded game --}}
<header class="smallHeader">
    <h1>JumpIt NYC</h1>
</header>

<canvas id="canvas1"></canvas>
{{!-- <img id="playerImg" src="/assets/images/player-run.png" alt="player sprite">
<img id="backgroundImg" src="/assets/images/City3.png" alt="background image"> --}}
{{!-- <img id="enemyImage" src="" alt=""> --}}

<img id="playerImage" src="/assets/images/Biker_run1.png" alt="">
<img id="backgroundImage" src="/assets/images/City3.png" alt="">
<img id="enemyImage" src="/assets/images/Walk3.png" alt="">
<img id="powerupImage" src="assets/images/Pizza.png" alt="">

<script src="/js/start.js"></script>