body {
  background: black;
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

.bigHeader {
  font-size: 2.75em;
  font-style: italic;
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #FF79D7,
    0 0 61px #FF79D7,
    0 0 71px #FF79D7,
    0 0 81px #FF79D7,
    0 0 130px #FF79D7;
  margin-top: 100px;
}

.smallHeader {
  font-size: 1.25em;
  font-style: italic;
}

#finalScore {
  font-size: 25px;
}

#keyboard {
  width: 110px;
}

#pizzaIcon {
  width: 50px;
}

#rats {
  height: 30px;
  margin-top: 13px;
}

.instructions {
  font-size: 23px;
}

.instrCard {
  margin-top: 70px;
}

#ratty {
  margin-top: 36px;
  font-size: 30px;
  font-style: italic;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#playerImage, #backgroundImage, #enemyImage, #powerupImage {
  display: none;
}

.btn {
  font-family: 'Russo One', sans-serif;
  font-size: .75em;
  margin-top: 20px;
}

.btn:hover {
  text-shadow:
  0 0 2px #fff,
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 21px #FF79D7,
  0 0 61px #FF79D7,
  0 0 71px #FF79D7,
  0 0 81px #FF79D7,
  0 0 130px #FF79D7;
}

h2 {
  font-size: 2.5em;
}

th {
  text-align: justify;
  padding: 10px;
  font-size: 1.75em;
}

td {
  font-size: 1.50em;
}

.form-group {
  font-size: 1.75em;
  padding-bottom: 15px;
}

.login-page {
  color: white;
  margin-top: 85px;
}

.gameOptions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

#startGame {
  font-size: 2em;
  padding: 0 50px;
}

#leaderboard {
  font-size: 1.5em;
}

#logout {
  font-size: 1.5em;
  padding: 0 35px;
}

#scoreList {
display: flex;
justify-content: center;
}

#returnHome {
  font-size: 1.5em;
  margin-top: 50px;
}

#play-again {
  font-size: 1.5em;
}