body {
  background: black;
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

header {
  font-size: 2.75em;
}

#game-canvas {
  background: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#playerImg, #backgroundImg {
  display: none;
}

.login-page {
  color: white;
}