body {
  background: black;
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

header {
  font-size: 2.75em;
}

#game-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
}

#playerImage, #backgroundImage, #enemyImage, #powerupImage {
  display: none;
}

.login-page {
  color: white;
}

#scoreList {
display: flex;
justify-content: center;
}

ul {
  color: white;
  text-align: center;
}

li {
  color: white;
}