{{!-- loading page?start game? --}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
  <title>JumpIt NYC</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <div>
    <header>
      <h1>JumpIt NYC</h1>
      <nav>
        {{!-- for login/logout if we decide to host in navbar --}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
</body>
</html>